.env
coverage
package-lock.json
frontend/.env
frontend/.env
__pycache__/
*.py[cod]
*.cfg
*.exe
*.bat
*.ps1
*.txt
*.pyd
*.pyi
*.py
!main.py
*.1
*.typed
*.yaml
*.pxd
*.pem
*.tmpl
*.c
*.sh
*.rst
*.md
*.pth
*.h
*.onnx
*.fish
*.lib
*.dll
*.pc
*.f
*.npy
*.ini
*.f90
*.pyc
*.npz
*.pyf
*.pkl
*.inc
*.css
*.xml
*.template
*.build
*.gz
*.pyx
*.csv
*.BSD
*.fits
*.APACHE
*.f95
*.json
*.markdown-it
*.cpp
*.js
